.header-container {
    position: fixed;
    top: 360px;
    left: 0;
    bottom: 0;
    width: 80px;
    background-color: transparent;
    padding: 20px 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep .p-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

:host ::ng-deep .p-menu .p-menuitem {
    margin-bottom: 20px;
}

:host ::ng-deep .p-menu .p-menuitem-icon {
    font-size: 24px;
    color: #ffffff;
    transition: color 0.3s;
}

:host ::ng-deep .p-menu .p-menuitem-icon:hover {
    color: #007bff;
}

@media screen and (max-width: 768px) {
    .header-container {
        top: -30px;
        width: 65px;
    }

}