<div class="p-grid p-justify-center register-container">
    <div class="p-col-8">
        <p-card header="Register" class="register-card">
            <ng-template pTemplate="content">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
                    <div class="p-field">
                        <label for="email" class="input-label">Email</label>
                        <div class="input-wrapper">
                            <i class="pi pi-envelope"></i>
                            <input id="email" type="email" pInputText formControlName="email" class="uniform-input">
                        </div>
                        <p-message severity="error" text="Email is required"
                            *ngIf="registerForm.get('email')?.errors?.['required']" class="error-message"></p-message>
                    </div>
                    <div class="p-field">
                        <label for="username" class="input-label">Username</label>
                        <div class="input-wrapper">
                            <i class="pi pi-user"></i>
                            <input id="username" type="text" pInputText formControlName="username"
                                class="uniform-input">
                        </div>
                        <p-message severity="error" text="Username is required"
                            *ngIf="registerForm.get('username')?.errors?.['required']"
                            class="error-message"></p-message>
                    </div>
                    <div class="p-field">
                        <label for="password" class="input-label">Password</label>
                        <div class="input-wrapper">
                            <i class="pi pi-lock"></i>
                            <input id="password" name="password" type="password" pInputText formControlName="password"
                                class="uniform-input">
                        </div>
                        <p-message severity="error" text="Password is required"
                            *ngIf="registerForm.get('password')?.errors?.['required']"
                            class="error-message"></p-message>
                    </div>
                    <div class="button-group">
                        <p-button type="submit" label="Register" [disabled]="registerForm.invalid"
                            class="register-button"></p-button>
                    </div>
                    <div class="login-link">
                        Already registered? <a routerLink="/login">Login here</a>
                    </div>
                </form>
            </ng-template>
        </p-card>
    </div>
</div>