<!-- https://buy.stripe.com/test_8wM5mQcoKcxhdHOcMM -->
<div id="shoppingLoadingImg">
    <p-image *ngIf="this.hidden === false" src="../../assets/5.gif" [preview]="false" alt="Image" width="500px">
        <ng-template pTemplate="indicator">
            <i class="pi pi-check"></i>
        </ng-template>
    </p-image>
</div>
<div class="shoppingPage" *ngIf="this.showText === true">
    <p-carousel [value]="products" [numVisible]="1" [numScroll]="1" [circular]="false"
        [responsiveOptions]="responsiveOptions">

        <ng-template let-product of products pTemplate="item">
            <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                <div class="mb-3">
                    <img src="{{ product.image }}" [alt]="product.productname" class="productImgs" />
                </div>
                <div>
                    <h4 class="mb-1">{{ product.productname }}</h4>
                    <h6 class="mt-0 mb-3">{{ '$' + product.price }}</h6>
                    <p-tag [value]="product.inventorystatus" [severity]="getSeverity(product.inventorystatus)"></p-tag>

                    <div class="car-buttons mt-5">
                        <p-button [disabled]="setDisabled(product.inventorystatus)" type="button"
                            (click)="onClick(product.shoplink)" styleClass="p-button p-button-rounded mr-2"
                            icon="pi pi-shopping-bag"></p-button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>