<div class="artPage">
    <h2 class="pageTitle">Art Gallery</h2>

    <p-galleria [value]="images" [numVisible]="1" [showThumbnails]="true" [showItemNavigators]="false"
        [showItemNavigatorsOnHover]="false" [autoPlay]="false" [transitionInterval]="3000">
        <ng-template pTemplate="item" let-item>
            <div class="artItem">
                <img class="artImg" [src]="item.itemImageSrc" class="artImgs" [alt]="item.alt" />
                <div class="artCaption">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.description }}</p>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="thumbnail" let-item>
            <div class="grid grid-nogutter justify-content-center">
                <img [src]="item.thumbnailImageSrc" [alt]="item.alt" />
            </div>
        </ng-template>
    </p-galleria>
</div>