<p-messages *ngIf="statusCode > 0 && statusCode !== 200" [(value)]="errorMsg" [enableService]="false"
  [closable]="false"></p-messages>

<div class="p-fluid">
  <div class="p-field">
    <form (ngSubmit)="getProductByName()">
      <div class="p-inputgroup">
        <input [(ngModel)]="product.productname" name="productname" pInputText placeholder="Enter product name" />
        <button pButton label="Find Product" type="submit" icon="pi pi-search" styleClass="p-button-primary"></button>
      </div>
    </form>
  </div>

  <div *ngIf="product.id && bFindClicked && bCreateClicked===false">
    <form (ngSubmit)="updateProduct()">
      <div class="p-field">
        <label for="productname" class="p-label">Name:</label>
        <input id="productname" [(ngModel)]="product.productname" name="productname" pInputText />
      </div>
      <div class="p-field">
        <label for="price" class="p-label">Price:</label>
        <p-inputNumber id="price" [(ngModel)]="product.price" name="price" mode="currency" currency="USD"
          locale="en-US"></p-inputNumber>
      </div>
      <div class="p-field">
        <label for="image" class="p-label">Image URL:</label>
        <input id="image" [(ngModel)]="product.image" name="image" pInputText />
      </div>
      <div class="p-field">
        <label for="inventorystatus" class="p-label">Inventory Status:</label>
        <p-dropdown id="inventorystatus" [(ngModel)]="product.inventorystatus" name="inventorystatus"
          [options]="inventoryStatusOptions" optionLabel="label" optionValue="value"></p-dropdown>
      </div>
      <div class="p-field">
        <label for="shoplink" class="p-label">Shop Link:</label>
        <input id="shoplink" [(ngModel)]="product.shoplink" name="shoplink" pInputText />
      </div>
      <button pButton [label]="buttonLabel" type="submit" icon="pi pi-save" styleClass="p-button-success"></button>
    </form>
  </div>

  <div *ngIf="bCreateClicked === false && bFindClicked === false" class="p-field">
    <button pButton label="Create Product" (click)="onCreateButtonPressed()" icon="pi pi-plus"
      styleClass="p-button-secondary"></button>
  </div>

  <div *ngIf="bCreateClicked && bFindClicked === false">
    <form (ngSubmit)="createProduct()">
      <div class="p-field">
        <label for="productname" class="p-label">Name:</label>
        <input id="productname" [(ngModel)]="product.productname" name="productname" pInputText />
      </div>
      <div class="p-field">
        <label for="price" class="p-label">Price:</label>
        <p-inputNumber id="price" [(ngModel)]="product.price" name="price" mode="currency" currency="USD"
          locale="en-US"></p-inputNumber>
      </div>
      <div class="p-field">
        <label for="image" class="p-label">Image URL:</label>
        <input id="image" [(ngModel)]="product.image" name="image" pInputText />
      </div>
      <div class="p-field">
        <label for="inventorystatus" class="p-label">Inventory Status:</label>
        <p-dropdown id="inventorystatus" [(ngModel)]="product.inventorystatus" name="inventorystatus"
          [options]="inventoryStatusOptions" optionLabel="label" optionValue="value"></p-dropdown>
      </div>
      <div class="p-field">
        <label for="shoplink" class="p-label">Shop Link:</label>
        <input id="shoplink" [(ngModel)]="product.shoplink" name="shoplink" pInputText />
      </div>
      <button pButton label="Create Product" type="submit" icon="pi pi-plus" styleClass="p-button-success"></button>
    </form>
  </div>
</div>