<div id="homeLoadingImg" >
<p-image *ngIf="this.hidden === false" id="homeLoadingImg" src="../../assets/5.gif" [preview]="false" alt="Image" width="500px">
    <ng-template pTemplate="indicator">
        <i class="pi pi-check"></i>
    </ng-template>
</p-image>
</div>
<div id="homePage" *ngIf="this.showText === true"  >


    
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

</div>
