<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<div id="homeLoadingImg">
    <p-image *ngIf="this.hidden === false" id="homeLoadingImg" src="../../assets/5.gif" [preview]="false" alt="Image"
        width="500px">
        <ng-template pTemplate="indicator">
            <i class="pi pi-check"></i>
        </ng-template>
    </p-image>
</div>

<div *ngIf="this.hidden === true" class="main-container">
    <h1>Welcome to the Forum</h1>
    <nav>
        <ul>
            <li><a routerLink="/threads">Threads</a></li>
            <li><a routerLink="/create-thread">Create Thread</a></li>
        </ul>
    </nav>
    <router-outlet></router-outlet>

    <div #messagesContainer class="messages-container">
        <ng-container *ngIf="showText">
            <div *ngFor="let message of Messages" class="message-item">
                <span class="message-timestamp">{{ message.date_sent | date:'MMM d, y, h:mm a' }}</span>
                <img [src]="message.sender.profileimg" (click)="showUserProfile(message.sender)" class="message-image"
                    alt="{{ message.sender.username }}'s profile image">
                <div class="message-content" *ngIf="!isValidImageURL(message.content)">
                    <strong>{{ message.sender.username }}</strong>: <span
                        [innerHTML]="formatMessage(message.content)"></span>
                </div>
                <div class="message-content" *ngIf="isValidImageURL(message.content)">
                    <strong>{{ message.sender.username }}</strong>:
                    <img [src]="(message?.content)" alt="Image content" />
                </div>
            </div>
        </ng-container>
    </div>
    <div *ngIf="isDialogMinimized" (click)="openDialog()" class="minimized-dialog">
        <i class="fas fa-window-minimize"></i>
    </div>

    <!-- Input Section -->
    <div class="input-section" *ngIf="showText">
        <textarea rows="1" cols="80" pInputTextarea [(ngModel)]="newMessageContent" class="input-textarea"
            (keydown.enter)="sendMessage()"></textarea>
        <p-fileUpload #fileInput name="file" url="https://localhost:8443/api/art/uploadArt" accept="image/*"
            [style.display]="'none'"></p-fileUpload>

        <!-- Upload Button -->
        <button pButton type="button" class="ui-button-secondary btn-upload" (click)="openDialog()">
            <i class="fas fa-upload"></i>
        </button>

        <!-- Art Upload Dialog -->
        <div *ngIf="isDialogOpen" @fadeInOut>
            <p-dialog [(visible)]="isDialogOpen" [modal]="true" [closable]="false" header="Upload Art">
                <ng-template pTemplate="header">
                    <div class="modal-header">
                        <span class="modal-title">Upload Art</span>
                        <button (click)="minimizeModal()" class="modal-control" pRipple><i
                                class="fas fa-minus"></i></button>
                        <button (click)="closeModal()" class="modal-control" pRipple><i
                                class="fas fa-times"></i></button>
                    </div>
                </ng-template>
                <div class="ui-g">
                    <div class="ui-g-12">
                        <label for="artName">Art Name:</label>
                        <input type="text" pInputText [(ngModel)]="artName">
                    </div>
                    <div class="ui-g-12">
                        <label for="artAuthor">Art Author:</label>
                        <input type="text" pInputText [(ngModel)]="artAuthor">
                    </div>
                    <div class="ui-g-12">
                        <label for="fileInput">Select File:</label>
                        <input #fileInput type="file" (change)="onFileSelected($event)">
                    </div>
                    <div class="ui-g-12">
                        <button pButton type="button" label="Upload" (click)="onUploadClicked()"></button>
                    </div>
                </div>
            </p-dialog>
        </div>

        <!-- Send Button -->
        <button pButton type="button" class="ui-button-success btn-send" (click)="sendMessage()">
            <i class="fas fa-paper-plane"></i>
        </button>
    </div>

    <!-- User Profile Dialog -->
    <p-dialog [(visible)]="showUserProfileDialog" (onHide)="closeUserProfile()">
        <ng-template pTemplate="header">
            {{ selectedUser?.username }}
        </ng-template>
        <div class="dialog-content">
            <img [src]="selectedUser?.profileimg" alt="{{ selectedUser?.username }}'s profile image"
                class="profile-dialog-image">
            <p>{{ selectedUser?.statusmsg }}</p>
        </div>
    </p-dialog>


</div>