<div class="thread-form-container">
    <p-card header="Create New Thread" class="thread-form-card">
        <form (ngSubmit)="onSubmit()" class="thread-form">
            <div class="p-fluid">
                <div class="p-field">
                    <label for="title">Title</label>
                    <input id="title" type="text" pInputText placeholder="Enter title" [(ngModel)]="newThread.title"
                        name="title" class="form-control" />
                </div>
                <div class="p-field">
                    <label for="content">Content</label>
                    <textarea id="content" pInputTextarea placeholder="Enter content" [(ngModel)]="newThread.content"
                        name="content" class="form-control" rows="5"></textarea>
                </div>
                <p-dropdown id="category" [options]="categories" [(ngModel)]="newThread.category"
                    placeholder="Select a Category" name="category" class="form-control"></p-dropdown>
                <!-- <p-dropdown id="category" [options]="categories" [(ngModel)]="newThread.category"
                    placeholder="Select a Category" name="category" class="form-control" optionLabel="name"
                    optionValue="value"></p-dropdown> -->
                <div class="p-field">
                    <button type="submit" pButton label="Create Thread" class="submit-button"></button>
                </div>
            </div>
        </form>
    </p-card>
</div>