<div *ngIf="thread">
    <h3>{{ thread.title }}</h3>
    <p>{{ thread.category }}</p>
    <p>{{thread.content}}</p>

    <h4>Posts</h4>
    <div *ngFor="let post of thread.posts" class="post">
        <img [src]="post.sender.profileimg" alt="User Image" width="50" height="50">
        <div>
            <p>{{ post.sender.username }}</p>
            <p>{{ post.content }}</p>
        </div>
    </div>

    <form (ngSubmit)="addPost()" class="input-area">
        <textarea pInputTextarea [(ngModel)]="newPost.content" name="postContent"></textarea>
        <button type="submit" pButton label="Add Post"></button>
    </form>
</div>