.custom-dropdown {
    display: flex;
    align-items: center;
    width: 50%;
}

.custom-dropdown .p-inputgroup-addon {
    margin-right: 0px;
}

.custom-dropdown .p-dropdown {
    flex-grow: 1;
}

.custom-dropdown .p-dropdown .p-dropdown-label {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    height: auto;
    line-height: 1.5;
    display: flex;
    align-items: center;
}

.custom-dropdown .p-dropdown-panel {
    width: 100%;
}

.custom-dropdown .p-dropdown-items {
    width: 100%;
}