<p-messages *ngIf="statusCode > 0  && statusCode !== 200" [(value)]="errorMsg" [enableService]="false"
  [closable]="false"></p-messages>
<form (ngSubmit)="getProductByName()">
  <input [(ngModel)]="product.productname" name="productname" pInputText placeholder="Enter product name" />
  <button pButton label="Find Product" type="submit"></button>
</form>
<br>
<form *ngIf="product.id && bFindClicked && bCreateClicked===false" (ngSubmit)="updateProduct()">
  <div>
    <label for="productname">Name:</label>
    <input id="productname" [(ngModel)]="product.productname" name="productname" pInputText />
  </div>
  <div>
    <label for="price">Price:</label>
    <input id="price" [(ngModel)]="product.price" name="price" pInputText type="number" />
  </div>
  <div>
    <label for="image">Image URL:</label>
    <input id="image" [(ngModel)]="product.image" name="image" pInputText />
  </div>
  <div>
    <label for="inventorystatus">Inventory Status:</label>
    <input id="inventorystatus" [(ngModel)]="product.inventorystatus" name="inventorystatus" pInputText />
  </div>
  <div>
    <label for="shoplink">Shop Link:</label>
    <input id="shoplink" [(ngModel)]="product.shoplink" name="shoplink" pInputText />
  </div>
  <button pButton [label]="buttonLabel" type="submit"></button>
</form>
<br>
<button pButton *ngIf="bCreateClicked === false" label="Create Product" (click)="onCreateButtonPressed()"></button>
<form *ngIf="bCreateClicked && bFindClicked === false" (ngSubmit)="createProduct()">
  <div>
    <label for="productname">Name:</label>
    <input id="productname" [(ngModel)]="product.productname" name="productname" pInputText />
  </div>
  <div>
    <label for="price">Price:</label>
    <input id="price" [(ngModel)]="product.price" name="price" pInputText type="number" />
  </div>
  <div>
    <label for="image">Image URL:</label>
    <input id="image" [(ngModel)]="product.image" name="image" pInputText />
  </div>
  <div>
    <label for="inventorystatus">Inventory Status:</label>
    <input id="inventorystatus" [(ngModel)]="product.inventorystatus" name="inventorystatus" pInputText />
  </div>
  <div>
    <label for="shoplink">Shop Link:</label>
    <input id="shoplink" [(ngModel)]="product.shoplink" name="shoplink" pInputText />
  </div>
  <button pButton label="Create Product" type="submit"></button>